<!--<a href="/logout">Logout</a>
<h1>Here is the table data of your friends</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='person in friendData'>
            <td>{{person.name}}</td>
            <td>{{person.address}}</td>
            <td>{{person.age}}</td>
        </tr>
    </tbody>
</table>
-->
<ng-include src ="'navbar.html'"></ng-include>


<!--Rule 1 everything must go inside container class -->
<div class="container">
    <!--Rule 2 every column must be inside a row! -->
    <div class="row">
        
        
        <h1>Oma rivi</h1>
        <p>To edit information, click the row</p>

        
        
        
        <!--Rule 3 columns are defined in row -->
        <div style="background-color:red;" class="col-sm-3 col-md-2">Column1</div>
        <div style="background-color:green;" class="col-sm-6 col-md-10">Column2</div>
        <div style="background-color:blue;" class="col-sm-3 col-md-2">Column2</div>
    </div>


<!-- gridi harjoituksia ends -->

<!--<a href="/logout">Logout</a>
<a href="#/delete">Delete Information</a>
<a href="#/insert">Insert New Friend</a>-->
    
    <!--Use as element-->
    <of-example></of-example>
    <!--Use as attribute-->
    <div of-example></div>
    
<div class='table_container'>
    <h1>Your friends...</h1>
    <p>To edit information, click the row</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='person in friendData' ng-click='rowCliked(person._id)'>
                <td>{{person.name}}</td>
                <td>{{person.address}}</td>
                <td>{{person.age}}</td>
            </tr>
        </tbody>
    </table>
</div>
    
 <!--container div  viimeinen-->   
</div>